@charset "utf-8";
/* CSS Document */
@media (min-width: 1200px){
    .main-banner{
        height:100vh;
    }
    .demo-cont {
        width: 100%;
    }
    .search-container{
        top:50%;
    }
    .alt-header {
        height:7rem;
    }
    .header-search{
        width:60%;
    }
    @-webkit-keyframes topbtm {
        from {top: 0%;}
        to {top: 50%;}
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
    p{
        font-size: 22px!important;
    }
    .login-box{
        width:100%!important;
    }
    body h1 {
        font-size: 28px;
    }
    body h2 {
        font-size: 24px;
    }
    body h3 {
        font-size: 18px;
    }
    body h4 {
        font-size: 16px;
    }
    body h5 {
        font-size: 14px;
    }
    body h6 {
        font-size: 14px;
    }
    .wrapper {
        width: 100%;
        max-width: inherit;
    }
    .demo-cont {
        width: 100%;
    }
}
@media (min-width: 301px) and (max-width: 991px) {

    /* #############################index page ############################*/
    .upper-menu{
        padding: 14px;
        background-color: transparent;
        height: 6rem;
        position:relative;
        z-index:11;
    }
    .menu {
        background-image: linear-gradient(transparent, transparent);
        top: 6rem;
    }
    .nepvent-logo {
        left:5px;
        width: 15rem;
        height: 5.5rem;

    }
    .upper-menu a {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;

    }
    .main-banner{
        height:36rem;
        top:-7rem;
        background-image:none;

    }
    .custom-select {
        border-right: none;
    }
    .select-selected {
        height: 6rem;
        padding: 15px 8px;
        font-size: 18px;
        border: 1px solid rgba(109,125,140,0.4);
        border-radius:10px;
        border-color: rgba(109,125,140,0.4);
    }
    .ptr-container .select-selected{
        border:none;
    }
    .select-items div{
        height: 6rem;
        padding: 15px 8px;
        font-size: 18px;
    }
    .select-items{
        height:auto;
    }
    .index-search-field input {
        border: 1px solid rgba(109,125,140,0.4);
        border-radius:10px;
        font-size: 18px;
        height: 6rem;
    }
    .custom-select {
        height: 7.5rem;
    }
    .index-search-btn {
        width: 100%;
        height: 6rem;
        margin-top: 1.5rem;
        border-radius:10px;
    }

    .home-search-container {
        /*top: 0;*/
        width: 100%;
        height: 100%;
        padding:18px;
    }
    .mb-none{
        display:none;
    }
    .mb-show{
        display:block;
    }
    .search-contains {
        width: 100%;
    }
    .nepvent-desc p {
        font-size: 18px!important;
    }
    .nepvent-desc h3 {
        font-size: 30px!important;
    }
    .ptr-container h1{
        font-size:4rem;
    }
    .ptr-container input {
        font-size:18px;
        height: 6rem;
        border-radius:10px;
    }
    .ptr-container{
        width:100%;
        margin-top:3rem;
    }
    .confirm-btn {
        height:6rem;
    }
    .width35{
        width:95%;
    }
    .mod-border-right {
        border-right: none;
    }
    .reg {
        height: auto;
    }
    #reg-modal .modal-dialog {
        width: 95%;
    }
    .modal-header{
        padding:0 5px;
    }
    .modal-dialog{
        top:10%;
    }
    .modal-body, .modal-body form{
        padding:5px;
    }
    .modal-opt{
        height:7rem;
    }
    .modal-body input{
        height:5rem;
        font-size:16px;
    }
    .modal button{
        height:6rem;
        font-size:16px!important;
    }
    .banquet-ad-txt,.pho-ad-txt {
        width: 100%;
    }
    .ad-slider {
        width: 100%;
        top: 60%;
        height:36rem;
    }
    .ad-right, .ad-left {
        left: 50%;
    }
    .banquet-ad,.pho-ad {
        height: 60rem;
    }
    .pho-ad h1{
        font-size:26px;
    }
    .owl-nav{
        display:none;
    }
    .nepvent-desc {
        min-height: auto;
        width: 100%;
        margin: 20px 0 20px 0;
        padding: 0;
    }

    /* #############################index page ends ############################*/


    /* #############################photo index #############################*/
    .photo-search-container {
        position:relative;
        width: 100%;
        top:auto;
        right:auto;
        bottom: 0;
        border-radius: 0;
        padding: 10px 15px;
        box-shadow: none;
    }
    .pho-desc{
        position:initial;
        width: 100%;
        padding: 10px 15px;
    }
    .top-banner{
        height:auto;
    }
    .location, .photographer-contact {
        height:6rem;
        font-size:18px;
        margin-bottom: 20px;

    }
    .photo-search-container .custom-select,.photographer-email {
        height:6rem;
        font-size:18px;
        margin-bottom: 20px;

    }
    .photo-search-btn,.photographer-reg-btn {
        height: 6rem;
        border-radius:10px;
    }
    .bePartner-btn, .pho-back-btn{
        background:none;
    }
    .photo-search-title, .photo-reg-title{
        font-size:2.5rem!important;
        text-align:left;
    }

    /* #############################photo index ends#############################*/




    /* #############################banquet index start#############################*/
    .slider{
        top:-6rem;
    }
    .fnc-slider{
        height:48rem;
    }
    .search-container {
        top:18rem;
        width: 100%;
        height: 17rem;
    }
    .search-area,.search-area-alt{
        height:5.5rem;
        width:90%;
    }

    .search-area input,.search-area-alt input {
        font-size: 16px;
    }
    .fnc-slide__heading-line{
        font-size:20px;
    }
    .fnc-slide__action-btn{
        padding:5px;
    }
    .search-bottom {
        top:60%;
        width: 100%;
        text-align: center;
        left: auto;
        position: absolute;
        transform: none;
    }
    .search-title {
        font-size: 20px;
    }
    .search-bottom p {
        font-size: 13px!important;
    }
    .search-area-alt, .search-area{
        padding: 5px;
    }
    .demo-cont__credits{
        top:6rem;
    }

    .fnc-nav {
        width:70%;
    }
    .fnc-nav__control{
        width:25%;
        height: 30px;
        font-size: 12px!important;
    }
    .fnc-slide__inner{
        background-position: center!important;
        background-repeat: no-repeat!important;
        background-size: cover!important;
    }
    .alt-header {
        height: 7rem;
    }
    .alt-header .header-search {
        width: 95%;
        height: 4.5rem;
        top: 50%;
        padding:0;
    }
    .alt-header .header-search input{
        height:100%;
        font-size:14px;
    }
    .height100{
        min-height:auto;
    }
    .page-container {
        height: auto;
    }
    .banquet-view {
        width: 48%;
        margin-bottom:10px;
        display: inline-block;
        height: auto;
        padding:2px;
    }
    .alt-header .fa {
        left: 88%;
        top: 30%;
        font-size: 1.5rem;
    }
    .banquet-view img {
        height: 10rem;
        object-fit: cover;
    }
    .banquet-view h4{
        font-size: 15px!important;
    }
    .banquet-view p {
        font-size: 13px!important;
    }
    .banquet-view-btn{
        display:none;
    }
    .search-container p:hover {
        transform: scale(1);
    }
    @-webkit-keyframes leftToright {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    @-webkit-keyframes topbtm {
        from {top: 0px;}
        to {top: 18rem;}
    }


    /* #############################banquet index ends#############################*/




    #sidebar-wrapper-default {
        display: none;
        height: auto!important;
        text-align: center;
        font-size: 28px;
        position: relative!important;
    }
    #page-content-wrapper{
        width: 100%!important;
        margin-left: 0!important;

    }
    .title-section-wrapper h3{
        font-size:50px;
    }

    .logo-login {
        height: auto;
        width: 35%;
        margin-left: 31%;
    }
    .login-box{
        width:100%!important;
        top:50%!important;
        position:fixed;
        height:600px!important;
    }
    .login-box p{
        font-size:30px!important;
    }
    .text-box-username {
        width: 100%;
        font-size: 60px;
    }
    .text-box-password {
        width: 100%;
        font-size: 60px;
    }
    .sidebar-nav-default li{
        border-bottom: black solid 1px;
        font-size: 18px;

    }
    .sub{
        display: none;
        text-align: center!important;
        padding-left: 6px;
    }
    .sub-report{
        display: none;
        text-align: center!important;
        /*padding-left: 20%;*/
    }
    .sub-menu{
        text-align: center!important;
    }
    .mobile-menu{
        display: block!important;
    }
    .header{
        height:8%!important;
    }
    .logo {
        width: 80%!important;
    }
    /*.logo-box{*/
    /*    top:4%!important;*/
    /*}*/
    .form-group .no-pad{
        padding: 6px 12px!important;
    }
    button{
        font-size:18px!important;
    }
    .btn{
        font-size:18px!important;
    }
    label{
        font-size:18px;
    }
    .col-sm-1 {
        width: 21.333333%;
    }
    .col-sm-5 {
        width: 60.666667%;
    }
    .col-sm-3 {
        width: 60.666667%;
    }
    .col-sm-2 {
        width: 26.666667%;
    }
    .col-sm-offset-2 {
        margin-left: 25.666667%;
    }
    .col-sm-2 .btn{
        width: 100%;
        height:50px;
    }
    .fa-2x {
        font-size: 4em!important;
        left: 20px!important;
    }
    .width5 {
        width: 19%!important;
    }
    .width12 {
        width: 61%!important;
    }
    .mb-width100{
        width:100%!important;
    }
    .mb-width60{
        width:60.666667%!important;
    }
    .mb-width26{
        width:26.666667%!important;
    }
    .mb-width38{
        width:38.666667%!important;
    }
    .font50{
        font-size:50px!important;
    }
    #addItem{
        width:100%;
        height:50px;
    }
    .form-control {
        height: 50px!important;
        font-size:30px!important;
    }
    .form-group {
        margin-bottom: 40px;
    }
    .user-account{
        width: 40%!important;
        padding-top: 3%!important;
        border-bottom-left-radius: 24px!important;
        text-align: center;
    }
    .login-btn{
        width:80%!important;
        height:90px!important;
        border-radius:20px;
    }
    .dropdown-content{
        margin-top: 19% !important;
    }
    .logout{
        height: 35% !important;
    }
    .user-name-header{
        font-size: 30px!important;
    }
    #sidebar-wrapper-default ul li a{
        font-size: 40px;
        padding: 5%;
    }
    .fa-angle-down {
        padding-top: 1%!important;
    }
    .dropdown-content {
        z-index: 20!important;
        min-width: 100%!important;
        font-size: 25px;
        padding: 5%;
    }
    p{
        font-size: 18px!important;
    }

    body h1 {
        font-size: 30px;
    }

    body h2 {
        font-size: 30px;
    }
    body h3 {
        font-size: 26px;
    }
    body h4 {
        font-size: 18px;
    }
    body h5 {
        font-size: 18px;
    }
    body h6 {
        font-size: 18px;
    }
    .wrapper {
        width: 100%;
        max-width: inherit;
    }
    img {
        max-width: 100%;
        height: auto;
    }

}
@media (min-width: 200px) and (max-width: 300px) {
    p{
        font-size: 22px!important;
    }
    body h1 {
        font-size: 28px;
    }
    body h2 {
        font-size: 24px;
    }
    body h3 {
        font-size: 20px;
    }
    body h4 {
        font-size: 18px;
    }
    body h5 {
        font-size: 16px;
    }
    body h6 {
        font-size: 14px;
    }
    .login-box{
        width:100%!important;
    }
    .wrapper {
        width: 100%!important;
        max-width: inherit;
    }
}
